* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: "Ubuntu", sans-serif;*/
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*max-width: 960px;*/
    gap: 20px;
}

.alert-info{
    background: #ccffff;
    padding: 1em 0;
    border: 2px solid #cccccc;
    text-align: center;
}

.alert-info a{
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.nav-links{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    gap: 10px;
}

.nav-links a {
    /*text-decoration: none;*/
    list-style: none;
    border: 2px solid #cccccc;
    padding: 10px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*gap: 5px;*/
}

.header-img > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /*max-height: 224px;*/
    /*max-width: 339px;*/
}

/*.header-img{*/
/*    border: 2px solid red*/
/*}*/

section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section.sub-section{
        /*border: 2px solid red*/
    font-style: italic;
}

footer{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:992px) {
    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .alert-info {
        display: none;
    }

    h1 {
        text-align: left;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        text-align: right;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .nav-links a {
        background: white;
        padding: 1em 0;
        border: 0 solid #cccccc;
        text-align: right;
    }

    .header-img {
        width: 100%;
    }

    .header-img > img {
        width: 100%;
        height: auto;
        /*object-fit: cover;*/
        /*max-width: 890px;*/
        /*max-height: 385px;*/
    }

    .main {
        flex-basis: 50%;
    }

    .sub-section {
        flex-basis: 35%;
    }

    footer{
        display: flex;
        flex-grow: 2;
    }
}

